// This is where the user can use
// do calorie counting.

extends layout

block scripts
  script(type="text/javascript", src="/js/calories.js")
block sheets
  link(rel='stylesheet', href='/css/calories.css')

block page 
  - var menu = 'calories'
block content
  h1 calories
  div.athena-calories-calendar