// This is where the user can use
// do calorie counting.

extends layout

block scripts
  script(type="text/javascript", src="/js/calories.js")
block sheets
  link(rel='stylesheet', href='/css/calories.css')

block page 
  - var menu = 'calories';
  - var parsedData = JSON.parse(data);
block content
  h1 calories
  h2 #{month}.#{day}.#{year}
  div.athena-calories-calendar
  div #{parsedData._comment}