doctype html
html
  head
    // appTitle is a property of the js app object
    // via app.locals
    title= appTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Scripts
    script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
    
    block scripts

    // Sheets
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.override.css')

    block sheets
    
  body
    #wrap
      .container
        h1.page-header= appTitle
        block page
        block header
          div
            //include includes/menu
        block alert
          div.alert.alert-warning.hidden
        .content
          block content
    block footer
      footer
        .container
          p
            | Copyright &copy; 2015