// This is where the user can use
// a basic text editor to write files

extends layout

block scripts
  script(type="text/javascript", src="/js/notes.js")
block sheets
  link(rel='stylesheet', href='/css/notes.css')

block page 
  - var menu = 'notes'
block content
  h1 notes
  div.col-md-2
  div.col-md-10
    p.lead.athena-file-descr writing to file:&nbsp;
      //span.athena-new-file new file
      input.athena-new-file(
        type='text'
        value='new file'
      )
  div.col-md-2
    div.row.athena-file-list-header list of files
    for file in files
      dif.row.athena-file-list-item
        a(href="")= file
  div.col-md-10
    div(contenteditable=true).athena-editor
    button.athena-btn.athena-save-btn Save